always-auth=true
@cspayments:registry=https://microsoft.pkgs.visualstudio.com/_packaging/Universal.Store.NPM/npm/registry/
@edge-web-ui:registry=https://pkgs.dev.azure.com/edgewebui/_packaging/edge-web-ui/npm/registry/
@fast:registry=https://pkgs.dev.azure.com/microsoftdesign/FAST/_packaging/fast/npm/registry/
@ms:registry=https://office.pkgs.visualstudio.com/_packaging/Ink/npm/registry/
registry=https://msasg.pkgs.visualstudio.com/_packaging/XPay/npm/registry/
yarn-offline-mirror=./yarn-offline-mirror
yarn-offline-mirror-pruning=true
